body{

font-family:Arial;
background:#0f1c2e;
color:white;
text-align:center;
margin:0;

}

.container{

background:white;
color:black;
width:320px;
margin:auto;
margin-top:80px;
padding:30px;
border-radius:10px;

}

input{

width:90%;
padding:10px;
margin:10px;

}

button{

background:#ff7a00;
color:white;
border:none;
padding:10px;
width:90%;
border-radius:5px;

}

.card{

background:white;
color:black;
margin:20px;
padding:20px;
border-radius:8px;

}
